# Object files
*.o
*.d
*.lss
*.lst
*.lnk
*.lk
*.rel
*.asm
*.map
*_map.txt
*.mem
*.rst
*.sym

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
#*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.elf
*.hex


dash_testSuite/__arm_linux/cross
